*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    background-color: #080808;
    color: #fff;
}

#live_elm{
    background-color: #000;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-top: 80px;
    border-radius: 5px;
}